<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.skhu.mapper.RoomInfoMapper">
	<select id="findOne" resultType="RoomInfo">
		SELECT r.*, h.id hostId, h.nickName hostName, a.id awayId, a.nickName awayName 
		FROM roomInfo r 
		LEFT JOIN user h ON r.hostId = h.id
		LEFT JOIN user a ON r.awayId = a.id
		WHERE r.id = #{ id }
	</select>
	
	<select id="findOnewithHostId" resultType="RoomInfo">
		SELECT r.*, h.id hostId, h.nickName hostName, a.id awayId, a.nickName awayName 
		FROM roomInfo r 
		LEFT JOIN user h ON r.hostId = h.id
		LEFT JOIN user a ON r.awayId = a.id
		WHERE r.hostId = #{ hostId }
	</select>
	
	<select id="findAll" resultType="RoomInfo">
		SELECT r.*, u.nickName hostName FROM roomInfo r
		LEFT JOIN user u ON r.hostId = u.id
		ORDER BY ${ orderBy }
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO roomInfo(roomName, hostId, level) 
		VALUES (#{roomName}, #{hostId}, #{level})
	</insert> 
	
	<update id="update">
		UPDATE roomInfo 
		<set>
			<if test="hostId != 0"> hostId = #{hostId}, </if>
			<if test="awayId != 0"> awayId = #{awayId}, </if>
			<if test="level != 0"> level = #{level}, </if>
			<if test="userCount != 0"> userCount = #{userCount} </if>
		</set>
		WHERE id = #{id}
	</update>

	<delete id="delete">
		DELETE FROM roomInfo WHERE id = #{id}
	</delete>
</mapper>