<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.skhu.mapper.UserMapper">
	<select id="findOne" resultType="User">
		SELECT u.*, s.stateName FROM user u LEFT JOIN state s ON u.stateId = s.id WHERE id = #{ id }
	</select>
	
	<select id="findOnewithNickName" resultType="User">
		SELECT u.*, s.stateName FROM user u LEFT JOIN state s ON u.stateId = s.id WHERE nickName = #{ nickName }
	</select>
	
	<select id="findAll" resultType="User">
		SELECT u.*, s.stateName FROM user u LEFT JOIN state s ON u.stateId = s.id
	</select>
	
	<select id="findAllwithState" resultType="User">
		SELECT u.*, s.stateName FROM user u LEFT JOIN state s ON u.stateId = s.id WHERE stateId = 1
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO user(nickName, password) 
		VALUES (#{nickName}, #{password})
	</insert>
	
	<update id="update">
		UPDATE user 
		SET stateId = #{stateId}, win = #{win}, lose = #{lose}
		WHERE id = #{id}
	</update>
	
	<delete id="delete">
		DELETE FROM user WHERE id = #{id}
	</delete>

</mapper>